.column {
    float: left;
}

.left{
    width: 20%;
}

.right {
    width: 30%;
}

.middle {
    width: 50%;
    }
    
    
    
    div#main div {
        background-color: rgb(226, 141, 43);
    }
    
    div#info {
        background-color: aqua;
}