html
	head
		title Algorithm Visualization
		style
			include ../../CSS/algorithm-visualisation.css
body
	include ../partials/header

	div#main
		h1 Welcome to the algorithm visualization Page!
		br
			