html
    head
        link(rel="stylesheet" href="https://use.typekit.net/dnn8dmj.css")
        style
            include ../../CSS/header.css

div#header
    div#image
        img#me(src="../../images/professionalImageCropped.png")
    div#categories
        p Jorge Gonzalez Hernandez
        div.containerHeader
            a(class = "categoriesHeader", id = "cat1", href="/") Home
            a(class = "categoriesHeader", id = "cat2", href="/projects") Projects
            a(class = "categoriesHeader", id = "cat3", href="/about-me") About Me
            a(class = "categoriesHeader", id = "cat4", href="/contact-me") Contact Me
    div#image 
        img#hide(src="../../images/jgLogoV3.jpg")
div#separation
    p you a bitch